/* Asegurarse de que el contenido no quede debajo del menú fijo */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* altura completa de la ventana */
}

body {
    padding-top: 60px; /* altura del menú */
    display: flex;
    flex-direction: column;
}

/* Contenedor de columnas */
.content {
    display: flex;
    flex: 1; /* ocupa todo el espacio restante debajo del menú */
    gap: 0px;

}

/* Columnas */
.column {
    flex: 1; /* cada columna ocupa el mismo ancho */
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    min-height: 100%; /* asegura que llegue al fondo */
}


