/* Barra superior */
#menu-base {
    background-color: #000;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: Arial, sans-serif;

    border-bottom: 2px solid #333; /* ← pequeño borde gris oscuro */
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.menu a:hover {
    background-color: #111;
}

.brand a {
    font-weight: bold;
    font-size: 24px;
}

/* Menú horizontal */
.menu-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-items li {
    position: relative;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #111;
    min-width: 150px;
    flex-direction: column;
    list-style: none;
    
}

.dropdown-content li {
    padding: 0;
}

.dropdown-content li a {
    padding: 10px 15px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    
    
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* altura completa de la ventana */
}

body {
    padding-top: 60px; /* altura del menú */
    display: flex;
    flex-direction: column;
}