.titulo_texto{
font-family: 'arial black'; font-size: 36px; text-align: center;
color: rgb(174, 0, 255);
background-color: rgba(19, 15, 15, 0); 
}

.titulo{
display: flex; margin-right: 25%;
}

.menu{
display: flex; background-color: rgb(37, 37, 37); color: rgb(0, 145, 145); padding: 10px; border-radius: 10px;
align-self: auto;
}

.menu li {
margin-right: auto; list-style: none; align-self: center; font-size: 16px; text-align: center;
position: relative;
transition: transform 0.12s ease, color 0.12s ease;
transform-origin: center center; 
}